header {
    text-align: center;
}

p,
form,
input {
    margin-bottom: 0;
}

#result {
    margin: 0.625rem 0;
    font-size: 2.5rem;
}

.bump-top {
    margin-top: 5rem;
}

.bump-bottom {
    margin-bottom: 0.5rem;
}

.bordered {
    border: 2px solid #aaa;
    border-radius: 1rem;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-evenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    height: 15vw;
    min-height: 6.25rem;
    width: 15vw;
    min-width: 6.25rem;
    font-size: 10vw;
}

.box.wide {
    width: 20vw;
    min-width: 9.375rem;
}

.quiz {
    display: flex;
    flex-direction: row;
}

.form-input {
    text-align: center;
}

button {
    height: 15vw;
    max-height: 4.375rem;
    font-size: 1.5rem;
}

.as-columns {
    flex-direction: column;
}

.hide {
    display: none;
}

@media all and (min-width: 800px) {
    .box {
        font-size: 12rem;
        max-height: 15rem;
        max-width: 30rem;
    }

    .box.wide {
        min-width: 24rem;
    }
}
